# The local environment directory you created (e.g., in the setup steps)
.venv/
venv/
env/
/bin/

# Pyenv's file that specifies the local Python version
.python-version

# Byte-compiled Python files
__pycache__/
*.py[cod]

# SQLite database file
db.sqlite3
